/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/


.headerwrap{
    margin-top: 0;
    width: 100%;
    display: flex;
    height: 70px;
    background: none;
    font-family: Segoe UI, Arial;
    align-items: center;
    padding: 10px;
    color: black;
     
}

.headerlogo{
    
    width: 160px;
    font-size: 42px;
    font-weight: bold;
    order:1;
    justify-items: flex-start;
}

.headerconnect{
    order:2;
    margin-right: auto;
    display: flex;
    justify-items: flex-end;
}

.headermanagerbtn{
    width: 140px;
    max-height: 70px;
    order:1;   
}

.headerclient{
    order: 2;
    width: 140px;
    font-size: 18px;
}


.headerbutton{
    max-width: 110px;
    order:3;
    padding-left:10px;
}